@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: rgba(121, 121, 121, 0.285);  
}

main {
    background-image: linear-gradient(#F2EEEB, #4b4a4a);
    display: flex;
    flex-wrap: nowrap;
    
    
}

nav {
    background-image: linear-gradient( #262625,#595857);
  

}

nav h1 {
    text-align: center;
    color: white;
    font-size: 0.8em;
    padding-top: 10px;
}

#foto {
   background-image: url(../img/foto1.jpg);
   width: 80px;
   height: 80px;
   background-size: cover;
   background-position: center;
   border-radius: 100%;
   margin-top: 5px ;
}

menu {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
    color: white;
}

menu li {
    padding: 5px;
    list-style-type: none;
}



#email {
    display: none;
    font-size: 0.5em;
}

#ctt {
    font-size: 0.9em;
}

#rede {
    text-align: center;
    margin-top: 40px;
    font-size: 0.7em;
    
}

#rede a{
    color: white;
    text-decoration: none;

}
#rede li:hover {
    background-color: rgb(33, 40, 33);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.614);
    transition: transform 0.3s,border 0.5s;
}

#rede li {
    border: 1px solid white;
    padding: 2px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    margin: 15px;
    list-style-type: none;
    
}


#cert  {
   text-align: center;
   text-shadow: 2px 3px 5px black;
   font-size: 0.8em;
   margin-top: 70px;
   
}


#cert p {
    border: 1px solid white;
    
    margin: 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.55);
    border-radius: 5px;
}

#cert h1 {
    color: white;
    font-size: 1.2em;
    text-shadow: none;
}

#cert a{
    color: white;
    text-decoration: none;
}

#cert p:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(33, 40, 33);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(77, 77, 77, 0.614);
    transition: transform 0.3s,border 0.5s;
    
}


section {
    background-color: white;
    max-width: 100vw;
    
    
    
}

article {
    margin-top: 10px;
    padding: 5px;
    text-align: justify;
}

article h1 {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 5px;
}

article li,a{
    text-align: left;
    color: #262625;
}

article a:hover{
    color: darkred;
}
article p {
    text-indent: 20px;
    
}

#proj li{
    font-size: 90%;
}


aside {
    display: none;
    background-image: linear-gradient(#262625,#A6A3A1);
}



#asidecert  {
    text-align: center;
    text-shadow: 2px 3px 5px black;
    font-size: 0.8em;
    margin-top: 70px;
    
 }
 
 
 #asidecert p {
     border: 1px solid white;
     padding: 5px;
     margin: 25px;
     box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.55);
     border-radius: 15px;
 }
 
 #asidecert h1 {
     color: white;
     font-size: 1.8em;
     text-shadow: none;
 }
 
 #asidecert a{
     color: white;
     text-decoration: none;
 }
 
 #asidecert p:hover{
     border: 1px solid rgb(255, 255, 255);
     background-color: rgb(33, 40, 33);
     transform: translate(-3px, -3px);
     box-shadow: 5px 5px 10px rgba(77, 77, 77, 0.614);
     transition: transform 0.3s,border 0.5s;
     
 }






#certificados {
    display: none;
}
